
.lazy-img{
  width: 80%;
  height: 80%;
  border: 1px solid #000;
  overflow: auto;
  margin: auto;
  position: relative;
  .img-child{
    width: 90%;
    height: 100%;
    border: 1px solid #000;
    margin: -1px auto;
    img{
      width: 100%;
      height: 100%;
      background-color: #f05;
    }
  }
}
